section
{
  background-image: url(../../assets/images/photo-1559574945-aa4e651b5b69.jpg);
  background-size: cover;
  min-height: 90vh;
}
h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}
