/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet');

$bgColor: #131722;
$lightBgColor: #24baef;
$bgTransparent: rgba(36, 186, 239, 0.6);
$fontColor: #fff;
$borderColor: #a8a8a83d;
$borderHeight: 1px;
$secondFontColor: #949cb0;

body {
  font-family: "Montserrat", sans-serif;
  background-color: $bgColor;
  color: $fontColor;
}
.navbar{
    background-color: $bgColor;
}

a {
  font-size: 18px;
  color: $fontColor !important;
  text-decoration: none;
  &:hover {
    font-size: 18px;
    color: $fontColor;
  }
}
.brdr
{
  height: 1px;
  background-color: $borderColor;
}
.second-color{
  color: $secondFontColor;
}
.vote{
  background-color: $lightBgColor;
  padding: 5px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 10px;
}
