<app-homeheader [trendingMovies]="trendingMovies"></app-homeheader>
<div class="container">
  <div class="row py-5">
    <div class="col-4 d-flex align-items-center">
      <div>
        <div class="brdr w-75 mb-4"></div>
        <h2 class="h3">Trending Movies To Watch <br> Right Now</h2>
        <p class="second-color my-2">most watched movies by days</p>
        <div class="brdr w-75 mb-4"></div>
      </div>
    </div>
    <div *ngFor="let movie of trendingMovies" class="col-2">
      <div class="movie position-relative my-3">
        <a [routerLink]="['/moviedetails', movie.id]">
          <img class="w-100 mb-3" [src]="imgPrefix+movie.poster_path" [alt]="movie.title">
          <h3 class="h6">{{movie.title}}</h3>
          <div class="vote">{{movie.vote_average}}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-4 d-flex align-items-center">
      <div>
        <div class="brdr w-75 mb-4"></div>
        <h2 class="h3">Trending TV To Watch <br> Right Now</h2>
        <p class="second-color my-2">most watched TV by days</p>
        <div class="brdr w-75 mb-4"></div>
      </div>
    </div>
    <div *ngFor="let tv of trendingTv" class="col-2">
      <div class="movie position-relative my-3">
        <img class="w-100 mb-3" [src]="imgPrefix+tv.poster_path" [alt]="tv.title">
        <h3 class="h6">{{tv.title}}</h3>
        <div class="vote">{{tv.vote_average}}</div>
      </div>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-4 d-flex align-items-center">
      <div>
        <div class="brdr w-75 mb-4"></div>
        <h2 class="h3">Trending People To Watch <br> Right Now</h2>
        <p class="second-color my-2">most watched Person by days</p>
        <div class="brdr w-75 mb-4"></div>
      </div>
    </div>
    <div *ngFor="let person of trendingPeople" class="col-2">
      <div class="movie position-relative my-3">
        <img class="w-100 mb-3" [src]="imgPrefix+person.profile_path" [alt]="person.name">
        <h3 class="h6">{{person.name}}</h3>
      </div>
    </div>
  </div>
</div>
